
doctype html
html
  head
    title= subject
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(http-equiv='Content-Type', content="text/html; charset=UTF-8")
    meta(name="viewport", content="width:device-width, maximum-scale=1.0, user-scalable=no")
    meta(name="color-scheme", content="light")
    meta(name="supported-color-schemes", content="light")
  body
    div
      block content

      br
      div
        img(src=`${APP_URL}/images/nodejs-logo.jpg` style={'margin-top': '10px'} alt='logo-nodejs' width='70px' height='auto')


